#chat3 .form-control {
  border-color: transparent;
  font-size: 14px;
}

#chat3 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.badge-dot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 2.9rem;
  margin-top: -0.75rem;
}

.social__links span span {
  text-decoration: none;
  color: #000;
  opacity: 85%;
  font-size: 1.2rem;
  font-weight: 400;
  transition: 0.3s;
}

.fake-link :hover {
    color: #eb6262;
    cursor: pointer;
}

.social__links span a:hover {
  color: #eb6262;
}