  .footer {
    padding-bottom: 30px;
    background: #fff;
    border-top: 1px solid #eb6262;
    padding: 0px;
  }
  
  .social__links span a {
    text-decoration: none;
    color: #000;
    opacity: 85%;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.3s;
  }
  
  .social__links span a:hover {
    color: #eb6262;
  }
  
  .copyright {
    font-size: 0.8rem;
  }